@import "../../css-config/mixins.scss";
.projects-container {
  padding: 40px 0;
  position: relative;
  // height: 1800px;

  // background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

  // background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(39, 139, 156) 0%,
    rgba(24, 147, 167, 0.9) 90%
  );

  @include md {
    // height: 2100px;
  }
  .projects-layout {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    @include md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 1400px;
    }
    .projects-card {
      // border: 2px solid red;
      color: #212121;
      // background-image: radial-gradient(
      //   circle farthest-corner at 10% 20%,

      //   rgba(4, 0, 4, 0.9) 0%,
      //   rgba(67, 22, 79, 0.2) 120%
      // );
      // background-color: white;
      // box-shadow: rgba(0, 0, 0, 0.711) 0px 7px 29px 0px;
      border-radius: 8px;
      padding: 5px;
      width: 310px;
      height: 1750px;
      @include md {
        border-radius: 20px;
        width: 100%;
        height: 1680px;
      }
      .projects-head {
        color: white;
        text-align: right;
        font-size: 18px;
        padding: 16px 34px;
        border-bottom: 1px solid #ffffff;
        @include md {
          margin-bottom: 50px;
          font-size: 40px;
          padding: 31px 47px;
          border-bottom: 2px solid #ffffff;
        }
      }
      .projects-text {
        // padding: 30px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
