@import "../../../css-config/mixins.scss";

.skillItem {
  box-shadow: rgba(0, 0, 0, 0.556) 0px 4px 12px;
  // background-color: #134944;
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );

  //   border: 2px solid red;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 13px auto;
  @include md {
    margin: 15px;
    width: 250px;
  }
  h1 {
    font-size: 13px;
    @include md {
      font-size: 30px;
    }
  }
  img {
    width: 40px;
    @include md {
      width: 80px;
    }
  }
}
