@import "../../../css-config/mixins.scss";

.skillItem {
  box-shadow: rgba(0, 0, 0, 0.556) 0px 4px 12px;
  background-color: #3c3b3b;
  //   border: 2px solid red;
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 5px auto;
  @include md {
    margin: 15px;
    width: 250px;
  }
  h1 {
    font-size: 13px;
    @include md {
      font-size: 30px;
    }
  }
  img {
    width: 40px;
    @include md {
      width: 80px;
    }
  }
}
