@import "../../css-config/mixins.scss";

.contact-container {
  padding: 40px 0;
  position: relative;
  height: 500px;
  background-image: linear-gradient(135deg, #222222 10%, #000000 100%);
  @include md {
    height: 1000px;
  }
  .contact-layout {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    @include md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 1400px;
    }
    .contact-card {
      // background-color: #e3c29c;
      // background-image: linear-gradient(
      //   108deg,
      //   rgba(242, 245, 139, 1) 17.7%,
      //   rgba(148, 197, 20, 0.68) 91.2%
      // );
      color: white;
      // background-color: #212121;
      //   background: linear-gradient(#212121, black 140%);
      background: url("../../Assets/bg/bg3.jpg") no-repeat center center/cover;
      border-radius: 8px;
      padding: 5px;
      width: 310px;
      height: 920px;
      @include md {
        border-radius: 20px;
        width: 100%;
        height: 800px;
      }
      .contact-head {
        text-align: center;
        font-size: 18px;
        padding: 16px 34px;
        color: #212121;
        border-bottom: 1px solid #212121;
        font-weight: 800;
        @include md {
          font-size: 40px;
          padding: 31px 47px;
          border-bottom: 2px solid #212121;
        }
      }
      .contact-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
        @include md {
          height: 670px;
        }
        input {
          font-family: "Raleway", sans-serif;
          //   border-radius: 0px;
          width: 250px;
          outline: none;
          border: none;
          height: 38px;
          /* padding: 0px; */
          margin: 10px 0px;
          text-align: center;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          @include md {
            width: 600px;
            height: 50px;
            font-size: 20px;
          }
        }
        .message {
          height: 78px;
          //   padding-top: -100px;
          //   text-align: left;
          @include md {
            width: 600px;
            height: 200px;
          }
        }
        button {
          cursor: pointer;
          font-family: "Raleway", sans-serif;
          background-color: #212121;
          color: white;
          width: 250px;
          outline: none;
          border: none;
          height: 28px;
          /* padding: 0px; */
          margin: 10px 0px;
          @include md {
            border-radius: 8px;
            font-size: 20px;
            width: 200px;
            height: 50px;
          }

          &:hover {
            background-color: #353434;
          }
        }
      }
    }
  }
}
