@import "../../css-config/mixins.scss";

.main-header {
  background: url("../../Assets/AboutBg.png") no-repeat cover cover/center;
  content: "";
  width: 100%;
  padding: 0 20px;
  background-color: #181818;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
  @include md {
    // Styling for desktop (>768px)
    padding: 0 40px;
  }
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    @include md {
      height: 100px;
    }
    .left {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      gap: 20px;
      padding-inline-start: 0 !important;
      @include md {
        gap: 65px;
        font-size: 20px;
        display: flex;
      }
      li {
        //   font-size: 14px;
        // font-weight: 600;
        // text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: rgb(255, 162, 0);
        }
      }
    }
  }

  &.sticky-header {
    position: sticky;
    top: 0;
    transform: translateY(-80px);
    animation: stickyHeader 0.3s ease forwards;
    background-color: #000000a5 !important;
    backdrop-filter: blur(5px);
  }
}

//Transitions:

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
